.row
  .main-col
    %h1= @build.title
    = @build.message
    = @build.error
    %h2= t('.files')
    = render @build.files
    %h2= t('.log')
    .build-log= @build.log
  .side-col
    = render partial: @project, locals: { detail: true }
