.project
  .activation
  .header
    %span.namespace= project.namespace.human_name + '/'
    %span.name= project.name
  .activity
    = t('.last_activity')
    = t('datetime.ago', ago: time_ago_in_words(project.last_activity_at))
  - if defined? detail and detail
    .link
      = link_to project.web_url, project.web_url
    %p.description
      = project.description



