.project-hooked
  = @project.hook_button
.project-header.page-header
  %h1= @project.title
  .activity
    %small= @project.activity
  .link
    %small= @project.link
= @project.repo
%p.well.project-description
  = @project.description
%dl
  %dt= t('.owner')
  %dd= @project.owner.name
  %dt= t('.created_at')
  %dd= l(@project.created_at)

  

